<div class="notifications">
	<div *ngFor="let notification of notifications" class="notification" [ngClass]="className(notification)">
		<ng-container *ngTemplateOutlet="notificationTpl;context:{notification:notification}"></ng-container>
	</div>
</div>

<ng-template #notificationTpl let-notification="notification">
      
      <div class="d-flex justify-content-between">
            <div>
                  {{notification.title}}
            </div>
            <div>
                  <button style="background-color: transparent; border:none" type="button"  aria-label="Close"
                  (click)="close(notification)"
                  data-toggle="tooltip"
                  title="Close the notification"
                  data-placement="before">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
            </button>
            </div>
       </div>

	<div class="message">{{notification.message}}</div>

</ng-template>
