<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="allowCamera()">Fotocamera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="allowVideo()">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="AllowUpload()">Immagine </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container justify-content-center">

  <video id="video" [style.display]="showcamera ? null : 'none'">Video stream not available.</video>
  <canvas id="mycanvas" [style.display]="showCropper? null : 'none'"></canvas>
  <video autoplay playsinline id="videoLive" [style.display]="showvideo || stopvideo? null : 'none' "></video>
  <video controls playsinline id="videoRecorded" [style.display]="showvideoRecorded ? null : 'none' "></video>
  <img id="myFilecanvas" [style.display]="fileToUpload && showUpload? null : 'none'" class="img-fluid" />

    <div class="d-flex gap-2 py-5">
      <input type="file" [style.display]="showUpload ? null : 'none' "
        (change)="fileChangeEvent($event)" />
      <form class="card p-2" [style.display]="fileToUpload && showUpload  ? null : 'none'">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <button type="submit" class="btn btn-secondary" (click)="ReadBarcodeFromImageFile()">Read Barcode</button>
        </div>
      </form>

      <button class="btn btn-secondary rounded-pill px-3" (click)="takepicture()"
        [style.display]="showcamera ? null : 'none' ">Take photo</button>
      <button class="btn btn-secondary rounded-pill px-3" (click)="discardpicture()"
        [style.display]="showCropper? null : 'none'">New photo</button>
      <div>
        <form class="card p-2" [style.display]="showCropper ? null : 'none'">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary" (click)="ReadBarcode()">Read Barcode</button>
          </div>
        </form>
      </div>

      <button class="btn btn-secondary rounded-pill px-3" (click)="startvideo()"
        [style.display]="showvideo ? null : 'none' ">start video</button>
      <button class="btn btn-secondary rounded-pill px-3" (click)="stopvideoRecording()"
        [style.display]="stopvideo ? null : 'none' ">stop video</button>
      <button class="btn btn-secondary rounded-pill px-3" (click)="uploadVideo()"
        [style.display]="showvideoRecorded ? null : 'none' ">Upload video</button>
      <button class="btn btn-secondary rounded-pill px-3" (click)="discardvideo()"
        [style.display]="showvideoRecorded? null : 'none'">new video</button>
    </div>
  </div>
